<div class="container text-center">
	<h1 class="mt-5">Q&A掲示板</h1>
	<div class="row mt-5 mb-5">
		<div class="col-8">
			<h3>Q&A一覧</h3>
			<div class="mt-3 border p-5 bg-light rounded">
				<div class="border-bottom border-dark p-3">
					<h5>カテゴリーを選択</h5>
					<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
						<% @categories.each do |category| %>
						  <div class="card">
						    <div class="card-header" role="tab" id="heading<%= category.id%>">
						      <h6 class="mb-0">
						        <a class="collapsed text-body" data-toggle="collapse" href="#collapse<%= category.id%>" role="button" aria-expanded="false" aria-controls="collapse<%= category.id%>">
						          <%= category.name %>
						        </a>
						      </h6>
						    </div><!-- /.card-header -->
						    <div id="collapse<%= category.id%>" class="collapse" role="tabpanel" aria-labelledby="heading<%= category.id%>" data-parent="#accordion">
						    	<ul class="list-group list-group-flush">
							    	<% category.sub_categories.each do |sub_category| %>
								      	<%= search_form_for(@q) do |f| %>
											<%= f.hidden_field :sub_category_id_eq, value:sub_category.id %>
											<%= f.submit "#{sub_category.name}", class:"btn list-group-item-action"%>
										<% end %>
								    <% end %>
							    </ul>
						    </div><!-- /.collapse -->
						  </div><!-- /.card -->
						<% end %>
					</div><!-- /#accordion -->
					<div class="input-group w-75 mx-auto mb-3 mt-4">
					  <%= search_form_for(@q, class:"form-inline") do |f| %>
					  	  <%= f.text_field :title_or_body_cont, size:"40" ,class:"form-control", placeholder: "Q&A内を検索" %>
						  <%= f.submit "検索", class:"btn btn-outline-secondary" %>
					  <% end %>
					</div>
					<div class="mt-4"><%= link_to "質問を投稿する", new_question_path, class:"btn btn-lg btn-primary" %></div>
				</div>
				<div class="mt-4">
					<% @questions.order("id desc").each do |question| %>
						<%= link_to question_path(question), class:"text-dark" do %>
							<div class="row mb-4 border rounded p-3 questionSelected">
								<div class="col-4 d-flex flex-column">
									<%= attachment_image_tag question.user,:profile_image, fallback: "no_image.jpg", size: '100x100', class:"mx-auto" %>
									<h6><%= question.user.name %></h6>
								</div>
								<div class="col-8 text-left">
									<h5 class="text-info"><%= question.title %></h5>
									<h6><%= date_format(question.created_at) %></h6>
									<h6>カテゴリ: <%= question.sub_category.name %></h6>
									good! <%= question.favorite_posts.count %>件 | 回答 <%= question.answers.count %>件
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<%= render 'side' %>
	</div>
</div>