<div class="container text-center">
  <h2 class="mt-5">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-4">
      メールアドレス<br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mt-3">
      パスワード<br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mt-4">
        <%= f.check_box :remember_me %>
        ログイン情報を記憶
      </div>
    <% end %>

    <div class="actions mt-5">
      <%= f.submit "ログイン", class:"btn btn-light"%>
    </div>
  <% end %>
</div>
