<div class="container text-center">
	<div class="row mb-5">
		<div class="w-100"><h1 class="mt-4">マイページ</h1></div>
		<ul class="nav nav-tabs mt-4">
		  <li class="nav-item"><%= link_to "ユーザー・使用者情報", users_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "お気に入りしたプラン", users_favorite_plans_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "乗り換え先情報", users_mnp_plans_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "質問履歴", users_question_logs_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "回答履歴", users_answer_logs_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "いいねした投稿", users_favorite_posts_path, class:"nav-link active" %></li>
		</ul>
		<div class="col-8 mt-4">
			<h4>いいねした質問</h4>
			<div class="p-5 bg-light">
				<% @favorite_posts.where(answer_id:nil).order("id desc").each do |favorite_post| %>
					<%= link_to question_path(favorite_post.question) do %>
						<div class="row mb-4 border rounded p-3 questionSelected">
							<div class="col-4 d-flex flex-column">
								<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
								<h6><%= favorite_post.question.user.name %></h6>
							</div>
							<div class="col-8 text-left">
								<h5 class="text-info text-truncate"><%= favorite_post.question.title %></h5>
								<h6>カテゴリ: <%= favorite_post.question.sub_category.name %></h6>
								good! <%= favorite_post.question.favorite_posts.count %>件 | 回答 <%= favorite_post.question.answers.count %>件
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<h4 class="mt-4">いいねした回答</h4>
			<div class="p-5 bg-light">
				<% @favorite_posts.where(question_id:nil).order("id desc").each do |favorite_post| %>
					<%= link_to question_path(favorite_post.answer.question) do %>
						<div class="row mb-4 border rounded p-3 questionSelected">
							<div class="col-4 d-flex flex-column">
								<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
								<h6><%= favorite_post.answer.user.name %></h6>
							</div>
							<div class="col-8 text-left">
								<h5 class="text-info text-truncate"><%= favorite_post.answer.body %></h5>
								<h6>カテゴリ: <%= favorite_post.answer.question.sub_category.name %></h6>
								good! <%= favorite_post.answer.favorite_posts.count %>件 | 回答 <%= favorite_post.answer.answers.count %>件
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<%= render 'profile' %>
	</div>
</div>
