<div class="container text-center">
	<div class="row mb-5">
		<div class="w-100"><h1 class="mt-4">マイページ</h1></div>
		<ul class="nav nav-tabs mt-4">
		  <li class="nav-item"><%= link_to "ユーザー・使用者情報", users_path, class:"nav-link active" %></li>
		  <li class="nav-item"><%= link_to "お気に入りしたプラン", users_favorite_plans_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "乗り換え先情報", users_mnp_plans_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "質問履歴", users_question_logs_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "回答履歴", users_answer_logs_path, class:"nav-link" %></li>
		  <li class="nav-item"><%= link_to "いいねした投稿", users_favorite_posts_path, class:"nav-link" %></li>
		</ul>
		<div class="col-8 mt-4">
			<h4>使用者情報</h4>
			<div class="bg-light p-3">
				<%= link_to "新規追加", new_user_phone_path, class:"btn btn-secondary" %>
				<% @user_phones.each do |user_phone| %>
					<div class="bg-light rounded m-3">
			    		<table class="table">
			    			<thead class="thead-light">
			    				<th class="align-middle">名前：<%= user_phone.user_name %></th>
			    				<th><%= link_to "編集", edit_user_phone_path(user_phone), class:"btn btn-success ml-5" %><%= link_to "削除", user_phone_path(user_phone.id), "data-confirm" => "削除しますか？", class: "btn btn-danger ml-3", method: :delete %></th>
			    			</thead>
			    			<tr>
			    				<td>キャリア：<%= Carrier.find(user_phone.carrier_id).name %></td>
			    				<td>契約日：<%= user_phone.contract_date %></td>
			    			</tr>
			    			<tr>
			    				<td>契約プラン：<%= user_phone.plan_name %></td>
			    				<td>使用端末：<%= user_phone.phone_name %></td>
			    			</tr>
			    			<tr>
			    				<td>料金：<%= user_phone.bill %>円/月</td>
			    				<td>端末代：<%= user_phone.phone_bill %>円 x <%= user_phone.phone_bill_term %>回</td>
			    			</tr>
						</table>
					</div>
				<% end %>
			</div>
		</div>
		<%= render 'profile' %>
	</div>
</div>
