<% @user_phones.each do |user_phone| %>
	<% calc_mnp_costs(@plan, @options, user_phone) %>
	<div class="row bg-light rounded p-3">
	    <div class="col-sm-3 rounded p-3">
	    	<h5>使用者：<strong><%= user_phone.user_name %></strong><btn class="btn btn-success ml-3 d-sm-none userPhoneInfoBtn">詳細</btn></h5>
    		<table class="table mt-3 userPhoneTable">
    			<tr>
    				<td>キャリア</td>
    				<td><%= Carrier.find(user_phone.carrier_id).name %></td>
    			</tr>
    			<tr>
    				<td>契約プラン</td>
    				<td><%= user_phone.plan_name %></td>
    			</tr>
    			<tr>
    				<td>料金</td>
    				<td><%= user_phone.bill %>円/月</td>
    			</tr>
    			<tr>
    				<td>契約日</td>
    				<td><%= user_phone.contract_date %></td>
    			</tr>
    			<tr>
    				<td>使用端末</td>
    				<td><%= user_phone.phone_name %></td>
    			</tr>
    			<tr>
    				<td>端末代</td>
    				<td><%= user_phone.phone_bill%>円/月 x <%= user_phone.phone_bill_term %>回</td>
    			</tr>
			</table>
		</div>
		<div class="col-sm-9 d-sm-flex row rounded p-3">
			<div class="col-sm-3 order-sm-2 d-flex flex-column justify-content-center">
				<div>
					<h5>1年間使うと・・・</h5>
					<h5 class="text-center">合計<span class="text-danger price-font-size"><%= @saved_cost_per_year %>円</span></h5>
					<h5 class="text-right">節約できます</h5>
				</div>
				<div>
					<% convert_to(@saved_cost_per_year) %>
					<h5 class="mt-4">これは<strong><%= @name %></strong></h5>
					<h5 class="text-center"><span class="text-danger price-font-size"><%= @number %></span>分です</h5>
				</div>
				<%= form_for(user_phone) do |f| %>
					<%= f.hidden_field :option_ids, value: @option_ids %>
					<%= f.hidden_field :plan_id, value: @plan.id %>
					<%= f.submit "乗り換え先に設定する", class:"btn btn-secondary mb-4" %>
				<% end %>
			</div>
			<div class="col-sm-9 order-sm-1">
				<h4 class="d-none d-sm-inline">計算結果</h4>
				<btn class="d-inline d-sm-none userPhoneBillBtn">
					<h4>詳細<i class="fas fa-caret-down"></i><span style="font-size: 0.8rem;">押すと開きます</span></h4>
				</btn>
				<table class="table user-phone-show-table">
					<tr>
						<td>
							<table class="table">
								<thead class="thead-light">
				    				<th colspan="2">初期費用</th>
				    				<th class="d-none d-sm-table-cell"></th>
							    </thead>
							    <tbody>
					    			<tr>
					    				<td>解約金</td>
					    				<td><%= user_phone.carrier.penalty_bill %>円</td>
					    			</tr>
					    			<tr>
					    				<td>番号移行手数料</td>
					    				<td><%= user_phone.carrier.mnp_bill %>円</td>
					    			</tr>
					    			<tr>
					    				<td>事務手数料</td>
					    				<td><%= @plan.carrier.initial_bill %>円</td>
					    			</tr>
					    			<tr>
					    				<th>合計</th>
					    				<th><%= @total_initial_cost %>円</th>
					    			</tr>
					    		</tbody>
							</table>
						</td>
						<td>
							<table class="table result-right-table">
								<thead class="thead-light">
				    				<th colspan="2">毎月の料金</th>
				    				<th class="d-none d-sm-table-cell"></th>
							    </thead>
							    <tbody>
					    			<tr>
					    				<td>基本料金</td>
					    				<td><%= @plan.bill %>円/月</td>
					    			</tr>
					    			<% @options.each do |option| %>
						    			<tr>
						    				<td><%= option.name %></td>
						    				<td><%= option.bill %>円/月</td>
						    			</tr>
						    		<% end %>
					    			<tr>
					    				<td>端末の残債</td>
					    				<td><%= user_phone.phone_bill %>円/月 x <%= user_phone.phone_bill_term %>回</td>
					    			</tr>
					    			<tr>
					    				<th>合計</th>
					    				<th><%= @total_monthly_bill %>円/月</th>
					    			</tr>
					    		</tbody>
							</table>
						</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	<div class="d-sm-none">　</div>
	<% end %>