<button type="button" data-toggle="modal" data-focus="true" data-target="#modal-option" class="btn btn-primary mt-4">詳細検索</button>
<div class="modal fade" id="modal-option" tabindex="-1" role="dialog" aria-labelledby="myModalOptionLabel">
  <div class="modal-dialog" role="document" id="modal-maxwidth">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalOptionLabel">詳細検索</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
      	<%= search_form_for(@q) do |f| %>
	        <table class="table table-bordered">
	        	<tr>
	        		<th>データ量</th>
	        		<td>
	        			<%= f.select :data_value_gteq, [["1GB", 1], ["2GB", 2], ["3GB", 3], ["4GB", 4], ["5GB", 5], ["6GB", 6], ["7GB", 7]], prompt: "選択してください" %> 〜
	        			<%= f.select :data_value_lteq, [["1GB", 1], ["2GB", 2], ["3GB", 3], ["4GB", 4], ["5GB", 5], ["6GB", 6], ["7GB", 7]], prompt: "選択してください" %>
	        		</td>
	        	</tr>
	        	<tr>
	        		<th>条件</th>
	        		<td>
	        			<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
						  <label class="form-check-label">通話かけ放題</label>
						</div>
						<div class="form-check form-check-inline">
						  <%= f.check_box :data_transfer_eq, {class:"form-check-input"}, 1, nil %>
						  <label class="form-check-label">データ量繰越</label>
						</div>
	        		</td>
	        	</tr>
	        	<tr>
	        		<th>回線の種類</th>
	        		<td>
	        			<div class="form-check form-check-inline">
	        			  <%= f.radio_button :internet_type_any, ["docomo", "au", "softbank"], {checked: true, class:"form-check-input"} %>
						  <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> -->
						  <label class="form-check-label">全て</label>
						</div>
	        			<div class="form-check form-check-inline">
						  <%= f.radio_button :internet_type_eq, "docomo", {class:"form-check-input"} %>
						  <label class="form-check-label">docomo</label>
						</div>
						<div class="form-check form-check-inline">
						  <%= f.radio_button :internet_type_eq, "au", {class:"form-check-input"} %>
						  <label class="form-check-label">au</label>
						</div>
						<div class="form-check form-check-inline">
						  <%= f.radio_button :internet_type_eq, "softbank", {class:"form-check-input"} %>
						  <label class="form-check-label">softbank</label>
						</div>
	        		</td>
	        	</tr>
	        	<tr>
	        		<th>通信事業者</th>
	        		<td>
	        			<%= f.collection_select :carrier_id_eq, @carriers, :id, :name, {include_blank: "指定なし"}, class:"custom-select" %>
	        		</td>
	        	</tr>
	        </table>
        	<%= f.submit "検索する", class:"btn btn-info"%>
        <% end %>
      </div>
    </div>
  </div>
</div>