<div class="container">
	<div class="row">
		<div class="col-3 text-center">
			<div class="bg-light p-3 mt-5 mb-5 rounded border sticky">
				<h4 class="border-bottom border-dark">検索条件</h4>
				<!-- データ量 -->
				<div class="mb-4 mt-4">
					<h6>データ量</h6>
					<div class="w-50 mx-auto text-left"> <!-- 中央ぞろえ -->
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						  <label class="form-check-label" for="exampleRadios1">
						    〜 1GB
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
						    1GB 〜 3GB
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
						    3GB 〜 7GB
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
						    7GB 〜
						  </label>
						</div>
					</div>
				</div>
				<!-- 条件 -->
				<div class="mb-4">
					<h6>条件</h6>
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					  <label class="form-check-label" for="defaultCheck1">
					    通話かけ放題
					  </label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					  <label class="form-check-label" for="defaultCheck1">
					    データ量繰越
					  </label>
					</div>
				</div>
				<!-- 通信事業者 -->
				<div class="mb-4">
					<h6>通信事業者</h6>
					<select class="custom-select">
					  <option selected>選択する</option>
					  <option value="1">mineo</option>
					  <option value="2">LINEモバイル</option>
					  <option value="3">その3</option>
					</select>
				</div>
			</div>
		</div>
		<!-- 検索結果 -->
		<div class="col-9">
			<div class="bg-light p-3 mt-5 mb-4 rounded border">
				<h6>現在の検索条件
					<% params[:q].each do |key, value| %>
						<span class="text-info"><%= value %></span> | 
					<% end %>
				</h6>
			</div>
			<% @plans.each do |plan| %>
			<div class="row bg-light mb-3 p-3 rounded border">
				<div class="col-3">
					<%= image_tag("linemobile.png", size:"100x100", class:"mx-auto") %>
				</div>
				<div class="col-9">
					<h5><a href="#"><%= plan.carrier.name %><br><%= plan.name %></a></h5>
					<h5>料金　<span class="text-danger price-font-size"><%= plan.bill %>円/月</span></h5>
					<h6>回線:<span class="text-secondary"><%= plan.internet_type %></span> | データ量:<span class="text-secondary"><%= plan.data_value %>GB</span></h6>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>