<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-sm-3 text-center">
			<div class="bg-light p-3 rounded border search-side-bar">
				<h4 class="border-bottom border-dark">検索条件</h4>
				<!-- データ量 -->
				<%= search_form_for(@q) do |f| %>
				<div class="mb-4 mt-4">
					<h6>データ量</h6>
					<div class="row">
						<div class="col-5">
							<%= f.select :data_value_gteq, [["指定なし", ""], ["1GB", 1], ["2GB", 2], ["3GB", 3], ["4GB", 4], ["5GB", 5], ["6GB", 6], ["7GB", 7]], {}, {class:"search-context custom-select", id:"dataSelectedGt"} %>
						</div>
						<div class="col-1 pt-2 pr-4">〜</div>
						<div class="col-5">
	        				<%= f.select :data_value_lteq, [["指定なし", ""], ["1GB", 1], ["2GB", 2], ["3GB", 3], ["4GB", 4], ["5GB", 5], ["6GB", 6], ["7GB", 7]], {},{class:"search-context custom-select", id:"dataSelectedLt"} %>
	        			</div>
	        		</div>
				</div>
				<!-- 条件 -->
				<div class="mb-4">
					<h6>条件</h6>
					<div class="form-check">
					  <%= f.check_box :data_transfer_eq, {class:"form-check-input search-context"}, 1, "" %>
					  <label class="form-check-label" for="defaultCheck1">
					    データ量繰越
					  </label>
					</div>
				</div>
				<!-- 回線の種類 -->
				<div class="mb-4">
					<h6>回線の種類</h6>
					<div class="w-75 mx-auto text-left"> <!-- 中央ぞろえ -->
						<div class="form-check">
		    			  <%= f.radio_button :internet_type_eq, "", {checked: true, class:"form-check-input search-context"} %>
						  <label class="form-check-label">全て</label>
						</div>
		    			<div class="form-check">
						  <%= f.radio_button :internet_type_eq, "docomo", {class:"form-check-input search-context"} %>
						  <label class="form-check-label">docomo</label>
						</div>
						<div class="form-check">
						  <%= f.radio_button :internet_type_eq, "au", {class:"form-check-input search-context"} %>
						  <label class="form-check-label">au</label>
						</div>
						<div class="form-check">
						  <%= f.radio_button :internet_type_eq, "softbank", {class:"form-check-input search-context"} %>
						  <label class="form-check-label">softbank</label>
						</div>
					</div>
				</div>
				<!-- 通信事業者 -->
				<div class="mb-4">
					<h6>通信事業者</h6>
					<%= f.collection_select :carrier_id_eq, @carriers, :id, :name, {include_blank: "指定なし"}, class:"custom-select search-context" %>
				</div>
				<% end %>
			</div>
		</div>
		<!-- 検索結果 -->
		<div class="col-sm-9">
			<div class="bg-light p-3 mb-3 rounded border">
				<h6>検索条件
					<% unless params[:q].nil? %>
						<% unless params[:q][:data_value_gteq].blank? %>
							<span class="text-info"><%= params[:q][:data_value_gteq] %>GB以上</span> |
						<% end %>
						<% unless params[:q][:data_value_lteq].blank? %>
							<span class="text-info"><%= params[:q][:data_value_lteq] %>GB以下</span> |
						<% end %>
						<% unless params[:q][:data_transfer_eq].blank? %>
							<span class="text-info">データ繰越可能</span> |
						<% end %>
						<% unless params[:q][:internet_type_eq].blank? %>
							<span class="text-info"><%= params[:q][:internet_type_eq] %>回線</span> |
						<% end %>
						<% unless params[:q][:carrier_id_eq].blank? %>
							<span class="text-info"><%= Carrier.find(params[:q][:carrier_id_eq]).name %></span>
						<% end %>
					<% end %>
				</h6>
				<h5><%= @plans.total_count %>件中　<%= @plans.offset_value + 1 %>〜<%= @plans.offset_value + @plans.length %>件表示</h5>
				<%= render 'responsive_search_btn' %>
			</div>
			<%= paginate @plans %>
			<% @plans.each do |plan| %>
			<div class="row bg-light mb-3 p-3 rounded border">
				<div class="col-3">
					<%= attachment_image_tag plan.carrier,:carrier_image, fallback: "no_image.jpg", size: '100x100', class:"mx-auto img-fluid" %>
				</div>
				<div class="col-9">
					<h5><%= link_to plan_path(plan.id) do %><%= plan.carrier.name %><br><%= plan.name %></a></h5><% end %>
					<h5>料金　<span class="text-danger price-font-size"><%= plan.bill %>円/月</span></h5>
					<h6>回線:<span class="text-secondary"><%= plan.internet_type %></span> | データ量:<span class="text-secondary"><%= plan.data_value %>GB</span></h6>
				</div>
			</div>
			<% end %>
			<%= paginate @plans %>
		</div>
	</div>
</div>