<div class="container">
	<div class="bg-light p-3 mt-5 mb-5 rounded border clearfix">
		<%= image_tag("linemobile.png", size:"150x150", class:"mx-auto float-left") %>
		<div class="float-left ml-5"><h4>LINEモバイル<br>コミュニケーションフリープラン 〜3GB</h4>
			<h5>料金　<span class="text-danger price-font-size">1600円/月</span></h5>
			<h6>回線:<span class="text-secondary">softbank</span> | データ量:<span class="text-secondary">3GB</span></h6>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			<div class="bg-light p-5 mb-5 rounded border">
				<h4>基本情報</h4>
				<table class="table table-borderless pl-5 mt-4 plan-table-size">
					<tr>
						<td>回線</td>
						<th>softbank回線</th>
					</tr>
					<tr>
						<td>データ量</td>
						<th>3GB</th>
					</tr>
					<tr>
						<td>データ繰越</td>
						<th>可能</th>
					</tr>
				</table>
				<h4>オプション</h4>
				<table class="table table-borderless pl-5 mt-4 plan-table-size">
					<tr>
						<td>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							  <label class="form-check-label" for="defaultCheck1">
							    通話10分かけ放題
							  </label>
							</div>
						</td>
						<th>800円/月</th>
					</tr>
					<tr>
						<td>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
							  <label class="form-check-label" for="defaultCheck2">
							    wifiオプション
							  </label>
							</div>
						</td>
						<th>300円/月</th>
					</tr>
					<tr>
						<td>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
							  <label class="form-check-label" for="defaultCheck3">
							    端末保証
							  </label>
							</div>
						</td>
						<th>500円/月</th>
					</tr>
				</table>
				<h4 class="p-3 mb-4">レビュー</h4>
				<div class="row mb-4">
					<div class="col-4 d-flex flex-column">
						<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
						<h6>やくみつる</h6>
					</div>
					<div class="col-8 text-left">
						<h5 class="text-info">スイカは野菜ですか？果物ですか？</h5>
						<h6>カテゴリ: その他</h6>
						good! 10件 | 回答 3件
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-4 d-flex flex-column">
						<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
						<h6>やくみつる</h6>
					</div>
					<div class="col-8 text-left">
						<h5 class="text-info">スイカは野菜ですか？果物ですか？</h5>
						<h6>カテゴリ: その他</h6>
						good! 10件 | 回答 3件
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-4 d-flex flex-column">
						<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
						<h6>やくみつる</h6>
					</div>
					<div class="col-8 text-left">
						<h5 class="text-info">スイカは野菜ですか？果物ですか？</h5>
						<h6>カテゴリ: その他</h6>
						good! 10件 | 回答 3件
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-4 d-flex flex-column">
						<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
						<h6>やくみつる</h6>
					</div>
					<div class="col-8 text-left">
						<h5 class="text-info">スイカは野菜ですか？果物ですか？</h5>
						<h6>カテゴリ: その他</h6>
						good! 10件 | 回答 3件
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-4 d-flex flex-column">
						<%= image_tag("linemobile.png", size:"80x80", class:"mx-auto") %>
						<h6>やくみつる</h6>
					</div>
					<div class="col-8 text-left">
						<h5 class="text-info">スイカは野菜ですか？果物ですか？</h5>
						<h6>カテゴリ: その他</h6>
						good! 10件 | 回答 3件
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="bg-light p-3 rounded border sticky">
				<h4>料金</h4>
				<span class="text-danger price-font-size">　　1600円/月</span>
				<h4 class="mt-4">内訳</h4>
				<table class="table table-borderless">
					<tr>
						<th>基本料金</th>
						<td>1600円/月</td>
					</tr>
					<tr>
						<th>wifiオプション</th>
						<td>300円/月</td>
					</tr>
					<tr>
						<th>端末保証</th>
						<td>500円/月</td>
					</tr>
				</table>
				<div class="w-50 mx-auto mt-5">
					<h5 class="btn btn-success">この条件で保存</h5>
					<a href="#"><h5 class="btn btn-warning">乗り換えると得？</h5></a>
				</div>
			</div>
		</div>
	</div>
</div>