<div class="container">
	<div class="bg-light p-3 mt-5 mb-5 rounded border">
		<div class="row">
			<div class="col-sm-2">
				<%= attachment_image_tag @plan.carrier,:carrier_image, fallback: "no_image.jpg", class:"img-fluid plan-show-image" %>
			</div>
			<div class="col-sm-7">
				<h6><strong><%= @plan.carrier.name %></strong></h6>
				<h4 class="text-info"><%= @plan.name %></h4>
				<h5>料金　<span class="text-danger price-font-size"><%= @plan.bill %>円/月</span></h5>
				<h6>回線:<span class="text-secondary"><%= @plan.internet_type %></span> | データ量:<span class="text-secondary"><%= @plan.data_value %>GB</span></h6>
			</div>
			<div class="col-sm-3">
				<% unless @favorite_plan.blank? %>
					<% puts @favorite_plan.id %>
					<%= link_to "お気に入りから削除", favorite_plan_path(@favorite_plan.id), method: :delete, class:"btn btn-secondary mt-sm-5"%>
					<% unless flash[:success].blank? %>
						<div class="alert alert-success mt-3 favoriteAlert"><%= flash[:success] %></div>
					<% end %>
				<% else %>
					<%= link_to "お気に入りに追加", favorite_plans_path(id: @plan.id), method: :post, class:"btn btn-warning mt-sm-5"%>
					<% unless flash[:success].blank? %>
						<div class="alert alert-success mt-3 favoriteAlert"><%= flash[:success] %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="bg-light p-5 mb-5 rounded border plan-show-info-box clearfix">

				<h4 class="p-3 bg-secondary text-light">基本情報</h4>
				<table class="table table-borderless pl-5 mt-4 plan-show-info-table">
					<tr>
						<td>回線</td>
						<th><%= @plan.internet_type %>回線</th>
					</tr>
					<tr>
						<td>データ量</td>
						<th><%= @plan.data_value %>GB</th>
					</tr>
					<tr>
						<td>データ繰越</td>
						<th><%= @plan.data_transfer %></th>
					</tr>
				</table>

				<h4 class="p-3 bg-secondary text-light">オプション<h6>（選択すると料金に反映されます）</h6></h4>
				<table class="table table-borderless pl-5 mt-4 plan-show-option-table">
					<% @plan.carrier.options.each do |option| %>
						<tr>
							<td>
								<div class="form-check">
								  <input class="form-check-input optionCheck" type="checkbox" value="" id="option<%= option.id %>">
								  <label class="form-check-label" for="option<%= option.id %>">
								    <%= option.name %>
								  </label>
								  <span class="d-block d-sm-none"><strong><%= option.bill %>円/月</strong></span>
								</div>
							</td>
							<th id="optionBill<%= option.id%>" ><%= option.bill %>円/月</th>
						</tr>
					<% end %>
				</table>

				<h4 class="p-3 bg-secondary text-light">レビュー</h4>
				<% if user_signed_in? %>
					<%= render 'review_form', review: @review %>
				<% end %>
				<% @reviews.each do |review| %>
					<div class="p-3 mb-3 row">
						<div class="col-3 col-sm-2">
							<%= image_tag("linemobile.png", size:"60x60") %>
						</div>
						<div class="col-9 col-sm-10">
							<div id="total_star<%= review.id %>"></div>
							<strong><%= review.title %></strong>
							<h6 class="review-user-name"><i class="fas fa-user"></i>やくみつる</h6>
							<script>
								$(document).on('turbolinks:load', function() {
									$('#total_star<%= review.id%>').raty({
									  readOnly: true,
									  size: 36,
									  score: <%= review.total_eval %>,
									  starOff:  '<%= asset_path('star-off.png') %>',
									  starOn : '<%= asset_path('star-on.png') %>',
									});
								});
							</script>
						</div>
					</div>
				<% end %>
				<%= link_to "レビュー一覧", plan_reviews_path(@plan), class:"mr-3 mb-3 float-right" %>
			</div>
		</div>
		<div class="col-sm-4 plan-show-sticky-res">
			<div class="bg-light p-3 mb-4 rounded border plan-show-sticky ">
				<h4>料金</h4>
				<span class="text-danger price-font-size">　　<span class="addOptionBill"><%= @plan.bill %></span>円/月</span>
				<h6 class="mt-3 d-none d-sm-block">※左でオプションを選択すると料金に反映されます。</h6>
				<h4 class="mt-4">内訳
					<button type="button" class="btn btn-sm btn-secondary d-inline-block d-sm-none" data-toggle="collapse" data-target="#responsiveTarget" aria-expanded="true" aria-controls="responsiveTarget">
						表示/非表示
					</button>
				</h4>
				<div class="collapse show" id="responsiveTarget">
					<table class="table table-borderless plan-show-right-table" id="optionTarget">
						<tr>
							<th>基本料金</th>
							<td><%= @plan.bill %>円/月</td>
						</tr>
					</table>
				</div>
				<div class="mt-3">
					<% if user_signed_in? %>
						<%= form_tag(plan_result_path(@plan), method: :get, id:"submitOptionIds") do %>
							<%= hidden_field_tag :option_ids,{},id:"setOptionIds" %>
							<btn class="btn btn-info" id="getOptionIds">乗り換えると得かどうか計算する！</btn>
						<% end %>
					<% else %>
						<%= form_tag(plan_input_path(@plan), method: :get, id:"submitOptionIds") do %>
							<%= hidden_field_tag :option_ids,{},id:"setOptionIds" %>
							<btn class="btn btn-info" id="getOptionIds">乗り換えると得かどうか計算する！</btn>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>