<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<%= link_to "格安スマホ.com", root_path, class:"navbar-brand" %>
  		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="ナビゲーションの切替">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<!-- ログイン後 -->
  		<% if user_signed_in? %>
	  		<div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <%= link_to "マイページ", users_path, class:"nav-link ml-5" %>
			      </li>
			      <li class="nav-item">
			        <%= link_to "プラン一覧", plans_path, class:"nav-link ml-3" %>
			      </li>
			      <li class="nav-item">
			        <%= link_to "Q&A掲示板", questions_path, class:"nav-link ml-3" %>
			      </li>
			    </ul>
			    <span class="navbar-text">
			      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			    </span>
	  		</div>
	  	<!-- ログイン前 -->
	  	<% else %>
	  		<div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <%= link_to "プラン一覧", plans_path, class:"nav-link ml-5" %>
			      </li>
			      <li class="nav-item">
			        <%= link_to "Q&A掲示板", questions_path, class:"nav-link ml-3" %>
			      </li>
			    </ul>
			    <span class="navbar-text">
			      <%= link_to "ログイン", new_user_session_path %><br>
			      <%= link_to "新規会員登録はこちら", new_user_registration_path %>
			    </span>
	  		</div>
	  	<% end %>
	</nav>
</header>